<table class="table table-striped table-dark" id="playerInfo">
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td id="firstName"></td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td id="firstName"></td>
    </tr>
    <tr>
      <th scope="row">Age</th>
      <td id="age"></td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td id="cityName"></td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td id="countryName"></td>
    </tr>
  </tbody>
</table>
