<body>
   <!-- <%= render "nav" %> -->
  <div class="container-fluid bg-dark fill">
    <h1 class="text-light">Lives</h1>
    <div class="row">
      <div class="col-sm">
        <div id="map"></div>
      </div>
      <div class="col-sm">
        <%= render "player_info" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="newGame">New Game</button>
        <button id="savGame">Save</button>
        <button id="yesButton">Yes</button>
        <button id="noButton">No</button>
      </div>
    </div>
  </div>
</body>

