<body>
  <%= render "nav" %>
  <h1>Lives</h1>
  <div id="map"></div>
  <%= javascript_pack_tag 'map' %>
  <%= javascript_pack_tag 'lives' %>
  <div id="playerInfo">
    <h2 id="countryName"></h2>
  </div>
  <button id="newGame">New Game</button>
</body>

